recuperat_image
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/images/*
/Vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
sftp-config.json
run/var
/*.png
/*.jpg
/*.jpeg
public/app.js
.env.prod
/database/backups
public/js/app*.js
.DS_Store
ThrivingUsersBakcup.json
/public/files/atlas.pdf